.searcher{
    height: 24px;
    background-color: #F7F7F8;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
}
.input{
    color: #050510;
    background-color: #F7F7F8;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: 93%
}
.input:focus{
    outline: 0;
    outline-offset: 0;
}
.openerPopUp{
    cursor: pointer;
}